@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Global Styles*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.flex {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modifier {
    width: 100%;
    margin: auto;
}


/*Header Styles*/

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/fondo2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.headboard {
    width: 100%;
}

.logo {
    float: right;
    width: 100%;
}

.stripe {
    margin-top: 40px;
    width: 100%;
}

.icon-bars {
    border: 2px solid white;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5em;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}

.menu {
    height: 0;
    margin-top: 50px;
    overflow: hidden;
    transition: height .3s linear;
    width: 100%;
    z-index: 1000;
}

.show {
    height: 300px;
}

.list {
    list-style: none;
}

.link {
    background: #fba919;
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.link:hover {
    background: #d30203;
}

.text {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.title {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.button {
    border: 2px solid #d30203;
    border-radius: 20px;
    color: white;
    margin-left: 20px;
    padding: 10px;
    text-decoration: none;
}

.button:hover {
    background: #d30203;
}


/*Featured Section Styles*/

.featured {
    width: 100%;
}

.featured_title {
    color: #d30203;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.featured_title::after {
    background: #d30203;
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    height: 4px;
    width: 250px;
}

.promo {
    margin: 5px;
    width: 100%;
}

.promo [class*="icon-"]::before {
    color: #d30203;
    display: block;
    font-size: 80px;
    text-align: center;
}

.title_promo {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.text_promo {
    font-size: 20px;
    line-height: 30px;
}


/*Phone Section Styles*/

.phone {
    width: 100%;
}

.phone_title {
    color: #d30203;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.phone_title::after {
    background: #d30203;
    content: '';
    display: block;
    height: 4px;
    margin: 0 auto;
    margin-top: 20px;
    width: 310px;
}

.phone_img {
    width: 100%;
}

.number {
    align-items: center;
    border: 2px solid #d30203;
    border-radius: 50%;
    display: flex;
    height: 80px;
    justify-content: center;
    margin: 0 auto;
    width: 80px;
}

.description_text {
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}